.contact {
    margin-top: -2px;
    height: 100%;
    .page{
        background-color: transparent;
        .outermost {
            padding-right: 8px;
            .boxWrapper {
                width: 100%;
                background: white;
                padding-bottom: 24px;
                border-bottom: solid 0.5px #EAEAEC;
                .box {
                    width: 100%;
                    height: auto;
                    position: relative;
                    .left-box {
                        padding-left: 122px;
                        width: 270px;
                        margin: auto 0px;
                        .title {
                            font-family: Whitney;
                            font-size: 20px;
                            font-weight: 500;
                            text-align: left;
                            color: #282c3f;
                        }
                        .subtitle {
                            font-family: Whitney;
                            font-size: 14px;
                            text-align: left;
                            color: #696b79;
                        }
                    }
                    .right-box {
                        margin-left: 300px;
                        padding: 10px 16px;
                        border: solid 0.5px #eaeaec;
                        position: absolute;
                        top: -7px;
                        left: 0;
                        right: 0;
                        .InsideRightBox {
                            width: 100%;
                            display: inline-flex;
                            .bagButtonWrapper {
                                left: 24px;
                                .bag {
                                    width: 30px;
                                    height: 40px;
                                    margin-left: 12px;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                }
                            }
                            .rightContext {
                                float: left;
                                margin-left: 12px;
                                margin-top: auto;
                                margin-bottom: auto;
                                .rightHeaderText {
                                    font-family: Whitney;
                                    font-size: 12px;
                                    font-weight: 500;
                                    text-align: left;
                                    color: #3e4152;
                                }
                                .rightContextText {
                                    font-family: Whitney;
                                    font-size: 11px;
                                    text-align: left;
                                    color: #94969f;
                                }
                            }
                            .rightButton {
                                float: right;
                                margin-left: auto;
                                .orderButton {
                                    font-family: Whitney;
                                    font-size: 12px;
                                    font-weight: 500;
                                    text-align: center;
                                    color: #14cda8;
                                    padding: 12px 24px;
                                    -webkit-border-radius: 4px;
                                    -moz-border-radius: 4px;
                                    border-radius: 4px;
                                    border: solid 1px #14cda8;
                                    float: left;
                                    background: white;
                                    &:hover {
                                        cursor: pointer;
                                        background: #def5e7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .helpcenter-box {
            width: 100%;
            min-height: 528px;
            background: white;
            margin-top: 24px;
            position: relative;
            .sidebar-box {
                float: left;
                width: 239px;
                height: 528px;
                padding-right: 31px;
                border-right: solid 1px #EAEAEC;
                position: relative;
                .sidebar-header-text {
                    font-family: Whitney;
                    font-size: 12px;
                    font-weight: 1000;
                    text-align: left;
                    color: #282c3f;
                    margin-bottom: 16px;
                }
                .sidebar-wrapper{
                    display: inline-flex;
                    width: 100%;
                    justify-content: space-between;
                    cursor: pointer;
                    .sidebar-query-text{
                        font-family: Whitney;
                        font-size: 14px;
                        font-weight: 500;
                        text-align: left;
                        color: #696b79;
                        margin-bottom: 20px;
                        &:hover {
                            color: #14cda8;
                            cursor: pointer;
                        }
                    }
                    .sideBar-nextButtonWrapper {
                        right: 31px;
                        position: absolute;
                        margin-top: -3px;
                        color: #94969F;
                        &:hover {
                            color: #14cda8;
                            cursor: pointer;
                        }
                    }
                }
                .sidebar-divider {
                    border-bottom: solid 1px #eaeaec;
                    margin: 24px 0px;
                }
            }
            .contact-box-isBrowser {
                padding-bottom: 20px;
                background: white;
                border: 0px;
                .contact-box-textWrapper {
                    padding: 18px 0px 23px 0px;
                    padding-bottom: 12px;
                    text-align: center;
                    .errorCase-text {
                        font-family: Whitney;
                        font-size: 14px;
                        text-align: center;
                        font-weight: bolder;
                        color: #3e4152;
                    }
                }
                .contact-box-buttonWrapper {
                    margin-top: 12px;
                    text-align: center;
                    .mail {
                        padding: 15px 63px;
                        font-family: whitney;
                        font-size: 14px;
                        font-weight: 500;
                        color: #14cda8;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                        border: solid 1px #14cda8;
                        background: transparent;
                        &:hover {
                            cursor: pointer;
                            background: #def5e7;
                        }
                    }
                }
            }
        }
    }
}