.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: solid 0.5px #EAEAEC;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    padding-top: 0px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

    .option {
      cursor: pointer;
    }
    .shop {
      padding: 0 17px 22px;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: white;
      &:hover{
        border-bottom-color: red;
        cursor: pointer;
      }
    }
    .contact {
      padding: 0 17px 22px;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: white;
      &:hover{
        border-bottom-color: red;
        cursor: pointer;
      }
    }
    .sign {
      padding: 0 17px 22px;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: white;
      &:hover{
        border-bottom-color: red;
        cursor: pointer;
      }
    }
  }
  .categories {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

    .category {
      cursor: pointer;

      &:first-child{
        padding-left: 55px;
      }
    }
    .men {
      padding: 0 17px 22px;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: white;
      &:hover{
        border-bottom-color: red;
        cursor: pointer;
      }
    }
    .women {
      padding: 0 17px 22px;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: white;
      &:hover{
        border-bottom-color: rgb(228, 165, 186);
        cursor: pointer;
      }
    }
    .kids {
      padding: 0 17px 22px;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: white;
      &:hover{
        border-bottom-color: olivedrab;
        cursor: pointer;
      }
    }
  }
  .cart{
    padding: 0 17px 25px;
  }
}
